[package]
name = "petname"
version = "1.1.1"
authors = ["Gavin Panella <gavinpanella@gmail.com>"]
edition = "2018"
description = "Generate human readable random names. Usable as a library and from the command-line."
readme = "README.md"
repository = "https://github.com/allenap/rust-petname"
license = "Apache-2.0"
categories = ["command-line-utilities", "no-std"]
keywords = ["pet", "name", "rand", "random", "generator"]

[badges]
travis-ci = { repository = "allenap/rust-petname", branch = "master" }

[lib]
name = "petname"
path = "src/lib.rs"

[[bin]]
name = "petname"
path = "src/main.rs"
doc = false
required-features = ["clap", "std_rng", "default_dictionary"]

[features]
# We include features that must be used for the binary regardless of if they are used (like clap).
default = ["clap", "std_rng", "default_dictionary"]
# Alias for backward compatibility.
clap = ["structopt"]
# Allows generating petnames with thread rng.
std_rng = ["rand/std", "rand/std_rng"]
# Allows the default dictionary to be used.
default_dictionary = []

[dependencies]
itertools = { version = "^0.10.0", default-features = false }
rand = { version = "^0.8.0", default-features = false }
structopt = { version =  "^0.3.23", default-features = false, optional = true }

[package.metadata.docs.rs]
# Limit docs.rs builds to a single tier one target, because they're identical on
# all. https://blog.rust-lang.org/2020/03/15/docs-rs-opt-into-fewer-targets.html
targets = ["x86_64-unknown-linux-gnu"]
